################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BTL_WINFORM_2024/FileContentIndex/49bbaa1a-d5df-43b7-a0a3-9dc47ca2de4c.vsidx
